.services {
  background-color: #121212;
  height: 220vh;
  position: relative;
}

.servicesContentContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0 80px 30px;
}

.servicesSubText {
  color: #bd1f39;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.servicesHeadText {
  color: #ffffff;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
  line-height: 1.625;
}

.servicesGridContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  /* background-color: lightgreen; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.servicesGridBox {
  width: 48%;
  height: auto;
  padding: 10px;
  margin: 10px;
  /* background-color: rgb(10, 97, 126); */
}

.servicesGridBoxTitleContainer {
  height: 60px;
  display: flex;
  align-items: center;
}

.servicesGridBoxTitle {
  color: white;
}

.servicesGridBoxIcon {
  width: 50px;
  height: 50px;
  color: #bd1f39;
  font-size: 40px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  /* border-radius: 50%; */
}

.servicesGridBoxDescription {
  color: #ffffff4d;
  font-size: 20px;
  line-height: 1.5;
  padding-left: 60px;
}

@media screen and (max-width: 600px) {
  .services {
    background-color: #121212;
    height: auto;
    position: relative;
  }

  .servicesContentContainer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 50px 30px;
  }

  .servicesSubText {
    color: #bd1f39;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
  }

  .servicesHeadText {
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.625;
  }

  .servicesGridContainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    /* background-color: lightgreen; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .servicesGridBox {
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
    display: block;
    /* background-color:rgb(10, 97, 126); */
  }

  .servicesGridBoxTitleContainer {
    display: block;
  }

  .servicesGridBoxTitle {
    color: white;
    font-size: 15px;
    padding: 10px 0 10px 0;
  }

  .servicesGridBoxIcon {
    width: 40px;
    height: 40px;
    color: #bd1f39;
    font-size: 30px;
    /* margin-right: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px;
    border-radius: 50%; */
  }

  .servicesGridBoxDescription {
    color: #ffffff4d;
    font-size: 15px;
    line-height: 1.5;
    padding: 20px 0 0 0;
  }
}
