.contact {
  background-color: #bd1f39;
  height: auto;
  position: relative;
}

.subHeadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.subHeadText {
  color: #2a1538;
  font-weight: 600;
  text-align: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.headContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.headText {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  font-size: 40px;
}

.emailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3%;
}

.emailText {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  font-size: 80px;
}

.addressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 3%;
}

.addressText {
  color: #ffffff99;
  padding: 5px;
  font-weight: 400;
  text-align: center;
  font-size: 40px;
}

.contactIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}

.contactIconList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactIconItem {
  padding: 0 25px 0 25px;
  color: #ffffff;
  font-size: 40px;
}

.contactIconItem a:hover {
  color: rgb(1, 1, 39);
}

@media screen and (max-width: 600px) {

  .subHeadContainer {
   padding: 5%;
  }

  .headContainer {
   padding: 5%;
  }

  .headText {
    font-weight: 400;
    font-size: 20px;
  }

 .emailContainer {
    padding: 5%;
  }

  .emailText {
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
  }

  .addressContainer {
    padding: 5%;
  }

  .addressText {
    color: #ffffff99;
    padding: 5px;
    font-weight: 400;
    text-align: center;
    font-size: 15px;
  }

  .contactIconList {
    margin-left: auto;
    margin-right: auto;
  }

  .contactIconItem {
    padding: 5%;
    color: #ffffff;
    font-size: 20px;
  } 
}
