.intro {
  width: 100%;
  background-image: linear-gradient(
      rgba(53, 52, 52, 0.5),
      rgba(22, 20, 20, 0.5)
    ),
    url(../../../public/assets/images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:100vh;
}

.content h1 {
  font-size:150px;
  font-weight:700;
  color: white;
}

.content p {
  font-size:30px;
  font-weight:300;
  color: white;
}

.introBtn {
  background-color:rgb(221, 103, 103);
  padding:25px;
  border-radius: 10px;
}
