.footer {
  background-color: #7a1626;
  height: 30vh;
  position: relative;
}

.footerBtn {
  width: 13.75rem;
  text-align: center;
  position: absolute;
  top: -2.3438rem;
  left: 50%;
  background-color: #241215;
  font-weight: 700;
  font-size: 0.8125rem;
  text-transform: uppercase;
  padding: 1.875rem 2.5rem 1.875rem 2.5rem;
  border-radius: 0.3125rem;
  transform: translate3d(-50%, 0, 0);
}

.footerBtn:hover {
  background-color: rgb(90, 20, 20);
}

.btnIcon {
  margin-right: 0.625rem;
}

.footerbtnText {
  color: #fff;
}

.copyrightContainer {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyrightText {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 300;
}
