.topbar {
  color: #fff;
  position: fixed;
  top: 0rem;
  height: 5rem;
  width: 100%;
  z-index: 3;
  transition: all 1s ease;
}

.topbar.active .line1 {
  background-color: #fff;
  transform: rotate(45deg);
}

.topbar.active .line2 {
  opacity: 0;
}

.topbar.active .line3 {
  background-color: #fff;
  transform: rotate(-45deg);
}

.wrapper {
  padding: 0.625rem 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  transition: all 1s ease;
}

.wrapper.active {
  background-color: #bd1f39;
}

.left {
  display: flex;
  align-items: center;
}

.logo {
  height: 3.5rem;
  border-radius: 20%;
  transition: 1s ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-left: 1.875rem;
}

.icon {
  font-size: 1.125rem;
  margin-right: 0.313rem;
}

.itemText {
  font-size: 0.938rem;
  font-weight: 500;
}

.hamburger {
  width: 2rem;
  height: 1.563rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.line1,
.line2,
.line3 {
  width: 100%;
  height: 0.188rem;
  background-color: #fff;
  transform-origin: left;
  transition: all 2s ease;
}

@media screen and (max-width: 600px) {
  .topbar {
    top: 1.875rem;
  }

  .logo {
    height: 2.8125rem;
  }

  .hamburger {
    width: 1.5625rem;
    height: 1.25rem;
  }

  .itemContainer {
    display: none;
  }
}